---
const contactMembers = [
  {
    name: 'Luis Grimaldi',
    description: 'Dueño y Director de Cría',
    photo: '/images/Staff/Luis-Grimaldi.jpg',
    phone: '+54 3564 566528'
  },
  {
    name: 'Emilia Grimaldi',
    description: 'Comercialización y Eventos',
    photo: '/images/Staff/Emilia-Grimaldi.jpg',
    phone: '+54 3564 570388'
  },
  {
    name: 'Bárbara Dutruel',
    description: 'Entrenadora',
    photo: '/images/Staff/Barbara-Dutruel.jpg',
    phone: '+54 3516 086263'
  },
  {
    name: 'Damian Ancic',
    description: 'Entrenador',
    photo: '/images/Staff/Damian-Ancic.jpg',
    phone: '+543516536995'
  }
]
---

<style>
  #contacto {
    scroll-margin-top: 100px;
  }
</style>

<section id="contacto" class="relative py-3 scroll-margin-top-16">
  <div class="bg-white">
    <!-- Contenedor de Contacto staff -->
    <div class="container sm:px-14 mx-auto text-center flex flex-wrap justify-center gap-3 mt-8">
      {contactMembers.map((member) => (
        <div class="bg-slate-200 p-4 rounded-lg text-center w-full sm:w-1/3 lg:w-[23%] flex flex-col items-center border-2 mx-4 sm:mx-0">
          <div class="flex items-center mb-2">
            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0 overflow-hidden rounded-full mr-4">
              <img
                src={member.photo}
                alt={member.name}
                class="w-full h-full object-cover rounded-full"
              />
            </div>
            <div class="flex-1">
              <h3 class="text-lg sm:text-xl font-semibold text-gray-900">{member.name}</h3>
              <p class="text-sm sm:text-base text-gray-600 mb-2">{member.description}</p>
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 sm:h-5 sm:w-5 mr-2 text-gray-600"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M22 16.92V20a2 2 0 01-2.18 2A19.8 19.8 0 013 4.18 2 2 0 015 2h3.09a2 2 0 012 1.72c.17 1.22.52 2.39 1.03 3.48a2 2 0 01-.45 2.11L9.03 10.97a16 16 0 006.01 6.01l1.66-1.66a2 2 0 012.11-.45c1.09.51 2.26.86 3.48 1.03a2 2 0 011.72 2z" />
                </svg>
                <span class="text-xs sm:text-sm text-gray-600">{member.phone}</span>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
    
    <!-- Contenedor de Grid para Contacto y Formulario -->
    <div class="mx-auto max-w-screen-lg px-4 sm:px-8 md:px-16 mt-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 rounded-3xl bg-slate-100 p-14 ">
        <!-- Contenido de Contacto -->
        <div class="space-y-2 text-center sm:text-left">
          <img
            src="/images/Logo/Logo Haras Formulario.svg"
            class="h-16 w-16 mx-auto md:mx-0"
            alt="Logo Haras Don Candido"
          />
          <div class="py-0">
            <p class="text-base sm:text-xl font-semibold text-gray-500">Contactanos</p>
            <span class="block text-lg sm:text-2xl font-semibold text-gray-900">
              TE
              <br />
              ASESORAMOS
            </span>
          </div>
          <div>
            <p class="text-sm sm:text-base text-gray-600">+54 3564 570388</p>
            <p class="text-sm sm:text-base text-gray-600">harasdoncandido@gmail.com</p>
          </div>
          <div>
            <ul class="flex justify-center sm:justify-start space-x-4">
              <li>
                <a
                  href="https://www.instagram.com/harasdoncandido/?hl=es"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-gray-600 hover:text-[#014618]"
                >
                  <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/haras.doncandido/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-gray-600 hover:text-[#014618]"
                >
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.tiktok.com/@hdc.pegasus"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-gray-600 hover:text-[#014618]"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="h-6 w-4 fill-current"
                  >
                    <path
                      class="text-gray-600 hover:text-[#014618]"
                      d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"
                    ></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Formulario de Contacto -->
        <div class="space-y-4">
          <form>
            <div>
              <label for="name" class="block text-sm font-medium text-gray-600">Nombre</label>
              <input
                disabled
                type="text"
                id="name"
                name="name"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#014618] focus:border-[#014618] sm:text-sm"
              />
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-600"
                >Correo Electrónico</label
              >
              <input
                disabled
                type="email"
                id="email"
                name="email"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#014618] focus:border-[#014618] sm:text-sm"
              />
            </div>
            <div>
              <label for="message" class="block text-sm font-medium text-gray-600">Mensaje</label>
              <textarea
                disabled
                id="message"
                name="message"
                rows="4"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#014618] focus:border-[#014618] sm:text-sm"
              ></textarea>
            </div>
            <button
              type="button"
              class="inline-block bg-[#014618] text-white px-6 py-2 mt-2 rounded-md hover:bg-[#22703c] transition duration-300"
            >
              Enviar Mensaje
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Mapa con fondo -->
    <div class="overflow-hidden p-6">
      <iframe
        width="100%"
        height="320"
        loading="lazy"
        allowfullscreen
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15422.924506812663!2d-62.62163963059258!3d-31.415696729426104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bb988acfd7860ca!2sHaras%20Don%20C%C3%A1ndido!5e0!3m2!1ses-419!2sar!4v1624614246217!5m2!1ses-419!2sar"
      ></iframe>
    </div>
     <!-- Footer -->
  <footer class="bg-white dark:bg-gray-900 mt-6">
    <div class="mx-auto w-full max-w-screen-xl lg:py-2 flex items-center justify-center px-4">
      <img
        src="/images/Logo/Pie Haras.svg"
        class="h-auto max-h-20 mx-auto"
        alt="Logo Haras Don Candido Footer"
      />
    </div>
  </footer>
  </div>
</section>
