---
import detalleRemates from '../../public/database/detalle-remate.json'
const remateEspecifico = detalleRemates.remate_especifico
const rematePreguntas = detalleRemates.remate_preguntas
---
<section class="py-10 text-black bg-slate-100 relative">
  <!-- Imagen de fondo ajustada en tamaño para todos los dispositivos -->
  <div class="bg-cover bg-center h-64 md:h-screen" style="background-image: url('../../public/images/Sliders/Slider02.jpg')"></div>

  <!-- Div para Remate 2024 -->
  <div class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 md:top-1/4 md:left-1/2 md:transform-none md:w-2/5 p-4 z-20">
    <div class="bg-[#947F45] rounded-md py-2 px-4 flex items-center justify-center h-full">
      <h1 class="text-2xl py-2 text-center text-white">
        Nuestro Remate 2024
      </h1>
    </div>
  </div>

  <!-- Contenedor principal -->
  <div class="container mt-20 md:mt-28 max-w-2xl mx-auto rounded-lg overflow-hidden shadow-md text-center bg-white relative z-10">
    <!-- Contenido de la tarjeta -->
    <div class="px-8 py-6">
      <div class="font-bold text-2xl mb-2">{remateEspecifico.nombres}</div>
      <div class="text-black font-bold mb-2">Número de Remate:</div>
      <p class="text-gray-700 text-lg">{remateEspecifico.id_Remate}</p>
      <div class="text-black font-bold mb-2">Descripción:</div>
      <p class="text-gray-700 text-lg">{rematePreguntas.descripcion}</p>
      <div class="text-black font-bold mb-2">Fecha de remate:</div>
      <p class="text-gray-700 text-lg">{remateEspecifico.fecha_inicio}</p>
      <div class="text-black font-bold mb-2">Lugar:</div>
      <p class="text-gray-700 text-lg">{remateEspecifico.nombre_city}</p>
    </div>
  </div>

  <!-- Div para Ver Remate 2023 -->
  <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 w-full md:w-2/3 max-w-screen-md p-4 z-30">
    <div class="bg-[#947F45] rounded-md py-2 px-4 flex items-center justify-between md:justify-center">
      <div class="text-white">
        <h1 class="text-2xl py-2 text-center text-white md:text-left">
          Ver Remate 2023
        </h1>
      </div>
      <a href="/remate" class="bg-[#fff] text-[#947F45] py-2 px-4 rounded-full hover:bg-[#fcd897]">
        Ver Más
      </a>
    </div>
  </div>
</section>



