---
import { languages } from '@/i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';

import EsFlag from '../../public/images/SVG Icon/spain.svg';
import UsFlag from '../../public/images/SVG Icon/united.svg';

const lang = getLangFromUrl(Astro.url) as keyof typeof languages;
const translatePath = useTranslatedPath(lang);
const flagIcons: Record<'es' | 'en', ImageMetadata> = {
  es: EsFlag,
  en: UsFlag,
};
---

<div class="relative inline-block text-white text-sm pt-2">
    <!-- Checkbox para controlar el menú -->
    <input type="checkbox" id="dropdown-toggle" class="hidden peer" />

    <!-- Botón principal -->
    <label 
        for="dropdown-toggle"
        class="flex items-center cursor-pointer px-3 py-2 rounded-lg focus:outline-none">
        <img src={flagIcons[lang].src} alt={`${lang} flag`} class="w-5 h-5" />
        <span class="ml-2">{lang.toUpperCase()}</span>
        <svg class="ml-1 w-4 h-4 transform transition-transform peer-checked:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
    </label>

    <!-- Menú desplegable -->
    <ul class="absolute right-0 mt-2 w-32 bg-[#ab994b] text-white rounded-lg hidden peer-checked:block">
        {Object.entries(languages).map(([langPrefix]) => {
            if (langPrefix === lang) return null; 
            return (
                <li>
                    <a href={translatePath('/', langPrefix)} class="flex items-center px-4 py-2 hover:bg-[#ab994b] space-x-2">
                        <img src={flagIcons[langPrefix as 'es' | 'en'].src} alt={`${langPrefix} flag`} class="w-5 h-5" />
                        <span>{langPrefix.toUpperCase()}</span>
                    </a>
                </li>
            );
        })}
    </ul>
</div>
