---
import ImgHeaderMadres from './ImgHeaderMadres.astro'

const madres = [
    {
        name: 'ATHLETA VDL',
        pedigree: '',
        imagenUrl: '/images/Madres/ATHLETA-VDL-KWPN/FOTO/AthletaVDL.png',
        pedigreeUrl: '/images/Madres/ATHLETA-VDL-KWPN/ATHLETA-VDL- Pedigree.jpg',
        videoUrl: 'https://www.youtube.com/watch?v=wBsokau6JTg',
        primeraDescripcion: 'ATHLETA VDL proviene del prestigioso linaje hannoveriano y fue importada por nuestro haras desde Holanda. Es descendiente directa del extraordinario STAKKATO en una madre ESCUDO I y es propia hermana de STAR POWER (padrillo aprobado por la KWPN con hijos aprobados que compiten en las pistas más exigentes de Europa). ATHLETA VDL se destaca como una yegua madre de elite, siendo además un distintivo de calidad reconocido en la cría equina argentina. Además de su notable genética, esta yegua sobresalió en el ámbito deportivo, siendo Ganadora del G. P. Torneo del Centro 2018, 4° puesto CSI 2* 1,40 m. Haras El Capricho 2014 y Sub Campeona Nacional Cat. Preliminar 2013 bajo la monta de Damian Ancic. Quien tiene un hijo de ATHLETA VDL, tiene un campeón asegurado.',
        segundaDescripcion: 'Sus descendientes no son sólo reconocidos en las pistas más competitivas del país, sino también internacionales: PEGASUS ATHENEA, (Medalla de Plata Young Riders Chile 2018, 3° puesto Gran Premio Haras El Capricho y Ganadora Gran Premio 2* Gral. San Martín 2019), PEGASUS LEWIS (4° puesto Individual FEI North American Youth Championships 2023 y 3° puesto Criadores III 2019), PEGASUS LEPREVOST (Ganadora CSI* 1,40 m. Haras Abril y Ganadora Mini G.P. 1,35/40 m. C.A.E. 2023), PEGASUS AYMAR (2° puesto Copa Puma Est. La Cautiva 2023, 3° puesto Mini G.P. C.A.E. 2022 y 2° puesto Criadores y Serie I 2019), PEGASUS CRISTIANO (3° puesto Copa Criadores y finalista Serie III Caballos Jóvenes AAFE 2019 ), PEGASUS GRAN ATHLETA (precio récord Remate 2020), entre otros grandes ejemplares.'
    },
    {
        name: 'CELIN R&D Z',
        pedigree: '',
        imagenUrl: '/images/Madres/CELIN-RyD-Z-KWPN/FOTOS/Celin-RyD.jpeg',
        pedigreeUrl: '/images/Madres/CELIN-RyD-Z-KWPN/CELIN R&D Z-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'CELIN R&D Z, importada por nuestro haras desde Holanda, es una yegua de notable ascendencia deportiva y genética. Descendiente directa del medallista olímpico CARDENTO, reconocido tanto por sus éxitos en salto como por su influencia como reproductor destacado. Sus líneas maternas incluyen a LA CASSIA R&D (1,35 m.), hermana materna del semental aprobado por KWPN, SIR OLDENBURG.',
        segundaDescripcion: 'Además, es nieta del destacado semental LANDOR S, conocido por producir saltadores de Gran Premio como LEOVILLE, LOBSTER y L´ARC de TRIOMPHE.CELIN R&D Z es madre de PEGASUS CELINE DU ROUET, una hija de BALOU DU ROUET que es parte del plantel de yeguas madres de nuestro haras.Actualmente, CELIN R&D Z está dando sus primeros pasos en su carrera deportiva bajo la monta de Damian Ancic. Esta yegua representa lo mejor en términos de excelencia atlética y potencial genético.'
    },
    {
        name: 'DALINDE VDL',
        pedigree: '',
        imagenUrl: '/images/Madres/DALINDE-VDL-KWPN/FOTO/Dalinde-VDL.JPG',
        pedigreeUrl: '/images/Madres/DALINDE-VDL-KWPN/DALINDE-VDL-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'DALINDE VDL, importada desde Holanda, es una distinguida yegua hija del legendario CARDENTO, reconocido tanto por sus logros de alto nivel como por su destacada influencia como semental. CARDENTO, medallista olímpico de plata por equipos en Atenas y ganador de múltiples competencias internacionales, ha dejado un legado significativo con descendientes como CARRERA VDL, CORPORAL VDL, BARDOLINO, MATRIX y NICE STEPHANIE, todos destacados a nivel mundial.Por línea materna, DALINDE VDL desciende de GOODTIMES, conocido por producir grandes campeones y descendiente del renombrado NIMMERDOR.',
        segundaDescripcion: 'DALINDE VDL compitió bajo la monta de Damian Ancic con buenos resultados en pruebas de 1,30 m. antes de retirarse por motivo de lesión. Como madre de nuestro haras, ha demostrado ser excepcional, con hijos como la reconocida P. CHAU AMORE: 5° puesto GP Sol de Mayo CSI 2* 2023, Medalla de Plata por equipos y 4°puesto individual Juegos ODESUR 2022, 4° puesto Nacional de Primera 2022, calificativa Tokio 2021, Ganadora G.P. 1,50 m. C.A.E 2021 y Ganadora G.P. Technopolo 2021. Otros hijos notables son P. AMORE MIO, P. CANDY CRUSH, P. LEBRON y P. LENNON (4° puesto 1,35 m. para Caballos de 7 años W.E.F. Ocala 2023).DALINDE VDL representa un valioso activo tanto para nuestro haras como para la cría equina de salto, ya que ha demostrado que la calidad de su progenie es una influencia excepcional para el mundo ecuestre.'
    },
    {
        name: 'DINA VDL',
        pedigree: '',
        imagenUrl: '/images/Madres/DINA-VDL-KWPN/FOTO/Dina-VDL.jpeg',
        pedigreeUrl: '/images/Madres/DINA-VDL-KWPN/DINA-VDL-Pedigree.jpg',
        videoUrl: 'https://www.youtube.com/watch?v=zBYZaTqUkA4',
        primeraDescripcion: 'DINA VDL, importada desde Holanda por nuestro haras, posee un pedigree excepcional que combina las destacadas líneas de INDOCTRO y CONTENDER.Desarrolló su carrera bajo la monta de Bárbara Dutruel y, desde sus inicios, demostró en las pistas mucha actitud y potencial. Así fue que en el 2013 se consagró en Rosario como Campeona de Caballos Nuevos 1,20 m. y posteriormente Campeona Nacional de Amazonas. En el 2014, fue Sub-campeona del Torneo Aniversario del Jockey Club Córdoba y al año siguiente se coronó Campeona Provincial de Córdoba en Primera Categoría. En el 2016, los triunfos siguieron y DINA VDL fue Ganadora del G.P. Regional de Rosario y Campeona en Primera Categoría, Campeona del Campeonato Valla Uno y Sub-campeona Provincial de Córdoba. Finalmente, en el 2017 se consagró Campeona de Primera Categoría del Torneo Aniversario del Jockey Club Córdoba.',
        segundaDescripcion: 'Indudablemente, DINA VDL es una de las madres de élite de nuestro haras, transmitiendo a sus hijos su delicadeza, competitividad y gran corazón para competir en las pistas.Entre su notable descendencia se encuentran PEGASUS DILLINGER, destacado como Campeón en Nuestros Caballos 2014 y Ganador del FEI Challenge Rosario 1,20 m. 2018, así como Campeón de Segunda Categoría 1,20 m. en el Torneo del Centro de la República 2019 y Ganador Selectiva FEI AMERICAS CHAMPIONSHIP 2021 Junior 1,40 m. con su propietaria Delfina Spinella. Otros hijos destacados son P. SINSAJO, P. VODOO y P. UNITED, quienes continúan el legado de excelencia de su madre en las pistas.DINA VDL no solo ha dejado su marca en las pistas, sino que también ha establecido un estándar de calidad en la cría de caballos de salto.'
    },
    {
        name: 'GAMA ILIANA',
        pedigree: '',
        imagenUrl: '/images/Madres/GAMA-ILIANA/FOTO/Gama-Iliana.jpeg',
        pedigreeUrl: '/images/Madres/GAMA-ILIANA/GAMA-ILIANA-Pedigree.jpg',
        videoUrl: 'https://www.youtube.com/watch?v=Pf-TJ5t2Z2c',
        primeraDescripcion: 'GAMA ILIANA, una destacada descendiente de IROKO, es una madre de élite en nuestro haras.Esta yegua fue adquirida en 2015 por nuestro haras, habiendo desarrollado hasta ese momento una destacada carrera deportiva bajo la monta de Luis Gustavo Vinhaes Ferreira. Junto a este jinete, participó en las pruebas de mayor exigencia del país, tanto a nivel nacional como internacional, obteniendo logros como el 5° puesto en el CSI 2* World Cup 1,60 m. en Haras El Capricho en 2014 y muchas clasificaciones en grandes premios.',
        segundaDescripcion: 'Posteriormente, continuó su carrera bajo la monta de Emilia Grimaldi compitiendo en las categorías Junior, Young Riders y Primera. En el 2015 fue Sub-campeona Provincial de Córdoba y Sub-campeona Nacional Junior, y en el 2017 logró el 3° puesto en el Gran Premio F.E.A. en el Club Hípico Argentino.GAMA ILIANA transmite a sus crías su fuerza y actitud para el salto. Algunas de ellas son PEGASUS CLEAR SUN y PEGASUS IVANNA (Uruguay).'
    },
    {
        name: 'GRAMA ASCOCHINGA',
        pedigree: '',
        imagenUrl: '/images/Madres/GRAMA-ASCOCHINGA/FOTO/Ascochinga.jpeg',
        pedigreeUrl: '/images/Madres/GRAMA-ASCOCHINGA/GRAMA-ASCOCHINGA-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'GRAMA ASCOCHINGA es una destacada performer criada  en Argentina. Esta yegua tuvo una gran carrera deportiva, compitiendo en pruebas hasta 1,50 m. y hoy es una gran reproductora en nuestro plantel de madres.',
        segundaDescripcion: ''
    },
    {
        name: 'HINULA 2-N',
        pedigree: '',
        imagenUrl: '',
        pedigreeUrl: '/images/Madres/HINULA-2-N-KWPN/DINA-VDL-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: '',
        segundaDescripcion: ''
    },
    {
        name: 'KENTUICKEY SR Z',
        pedigree: '',
        imagenUrl: '/images/Madres/KENTUCKEY-SR-N-KWPN/FOTO/Kentuckey.jpg',
        pedigreeUrl: '/images/Madres/KENTUCKEY-SR-N-KWPN/KENTUCKEY-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'KENTUCKEY SR Z, es una yegua importada de Holanda que lleva consigo un pedigree impresionante. Es hija del renombrado semental KANNAN, que ocupó el primer lugar en el Ranking Mundial WBFSH de Sementales de Salto en 2014 y ha permanecido consistentemente entre los 20 Mejores Padres de Ganadores durante la última década. KANNAN es padre de NINO DES BUISSONNETS, ganador de la Medalla de Oro individual en los JJ.OO. de Londres 2012, y, con más de 600 productos ganadores en competencias de CSI, este semental ha dejado una huella notable en el deporte ecuestre.',
        segundaDescripcion: 'En la línea materna de KENTUCKEY SR Z encontramos a QUICK STAR, padre del legendario BIG STAR, medallista de oro olímpico tanto por equipos como individualmente. Por lo tanto, con NINO DES BUISSONNETS y BIG STAR, esta yegua tiene dos medallistas olímpicos en su genealogía.KENTUCKEY SR Z se ha destacado como una productora de hijos excepcionales. Algunos de ellos son  a P. CLICHÉ, P. KENIA, P. BALOTELLI (precio récord remate y Campeón Salto Suelto I AAFE 2022), P. CAMERON y P. LOBO.'
    },
    {
        name: 'MAGNUS ANAIS',
        pedigree: '',
        imagenUrl: '/images/Madres/MAGNUS-ANAIS/FOTO/Magnus-Anais.jpeg',
        pedigreeUrl: '',
        videoUrl: '',
        primeraDescripcion: '',
        segundaDescripcion: ''
    },
    {
        name: 'MAGNUS ANTIGONA',
        pedigree: '',
        imagenUrl: '/images/Madres/MAGNUS-ANTIGONA/FOTO/Antigona.jpg',
        pedigreeUrl: '/images/Madres/MAGNUS-ANTIGONA/MAGNUS-ANTIGONA-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'MAGNUS ANTIGONA, hija del renombrado Alnok Z, es una yegua de excepcional destreza que, bajo la monta de Damián Ancic y luego de Emilia Grimaldi, se destacó al ganar el Campeonato de Categoría Intermedia en Haras El Capricho en 2014 y brillar en Mini Grandes Premios. Como destacada progenitora en nuestro haras, Magnus Antigona transmite a sus hijos su firmeza y gran corazón en el salto. Entre su descendencia se encuentran ejemplares como P. NEYMAR, P. CRISTOBAL, P. UNLIMITED, P. STRIKE FORCE, P. LÍDER, P. INTRUSO (Colombia), P. ARTEMISA y P. PERLA NEGRA.',
        segundaDescripcion: ''
    },
    {
        name: 'MAGNUS VASALISA',
        pedigree: '',
        imagenUrl: '',
        pedigreeUrl: '/images/Madres/MAGNUS-VASALISA/MAGNUS VASALISA-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: '',
        segundaDescripcion: ''
    },
    {
        name: 'PEGASUS ATHENEA',
        pedigree: '',
        imagenUrl: '/images/Madres/PEGASUS-ATHENEA/FOTO/Athenea.jpeg',
        pedigreeUrl: '/images/Madres/PEGASUS-ATHENEA/PEGASUS-ATHENEA-Pedigree.jpg',
        videoUrl: 'https://www.youtube.com/watch?v=zpr8a05RX2Q',
        primeraDescripcion: 'PEGASUS ATHENEA es una estrella en nuestro plantel de yeguas madres, criada por nuestro haras y una descendiente directa del prestigioso INDORADO, dos veces ganador de las clasificatorias para el Bundeschampionat y clasificado top 10 en el mismo, además de un  gran performer internacional bajo la monta de Jur Vrieling.PEGASUS ATHENEA lleva también el sello de calidad de ATHLETA VDL, su madre, quien es un orgullo para nuestro haras debido a su destacada capacidad transmisora y la calidad excepcional de sus descendientes.En su propia carrera deportiva, P. ATHENEA ha brillado desde sus inicios coronándose en el 2014 como Sub-campeona Nacional de Caballos Jóvenes bajo la conducción de Damian Ancic. En el 2017, obtuvo el Sub-campeonato de Primera Categoría del Torneo Cordillerano y, posteriormente, consiguió la Medalla de Plata individual en la Categoría Young Riders del FEI Southamerican Championships Chile 2018, bajo la monta de Emilia Grimaldi.',
        segundaDescripcion: 'En el 2019, fue la Ganadora del Gran Premio Gral. San Martín 2* C.A.E. y obtuvo un notable 3° puesto en la FEI World Cup 1,60 m. en Haras El Capricho, con la conducción de Martin Dopazo.P. ATHENEA es actualmente madre de numerosos productos destacados que continúan con su legado en el deporte ecuestre. Entre sus descendientes se encuentran nombres como P. POMMERY, P. CHELSEA (Subcampeona Nacional de Paraguay 2020), P. WHITAKER (4° puesto en el Longines Global Tour México 2022 1,35 m. y 8° puesto en la Final CSI 7 años 1,30/35 m. en La Silla 2022), P. CHAMPEIN (Campeona Nacional de Caballos Jóvenes I en 2020) y P. PORVENIR (Ganador Premio Criadores I AAFE 2022).'
    },
    {
        name: 'PEGASUS CELINE DU ROUET',
        pedigree: '',
        imagenUrl: '',
        pedigreeUrl: '/images/Madres/PEGASUS-CELINE-DU-ROUET/PEGASUS-CELINE DU ROUET-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: '',
        segundaDescripcion: ''
    },
    {
        name: 'PEGASUS EVITA',
        pedigree: '',
        imagenUrl: '/images/Madres/PEGASUS-EVITA/FOTO/Evita.JPG',
        pedigreeUrl: '/images/Madres/PEGASUS-EVITA/PEGASUS EVITA-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: '',
        segundaDescripcion: ''
    },
    {
        name: 'PEGASUS INDIRA',
        pedigree: '',
        imagenUrl: '/images/Madres/PEGASUS-INDIRA/FOTO/INDIRA.jpeg',
        pedigreeUrl: '/images/Madres/PEGASUS-INDIRA/PEGASUS-INDIRA-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'PEGASUS INDIRA fue criada en nuestro haras y, debido a una lesión de potranca, no pudo desarrollarse deportivamente y fue destinada exclusivamente a fines reproductivos. Desciende del reconocido Indoctro y es hermana materna de MAGNUS ANAIS, yegua que componen el plantel de madres de nuestro haras y que contó con una carrera deportiva muy exitosa: 2º puesto CSIO 2* Haras El Capricho 1,40 m. 2017, Campeona Cat. Primera Torneo del Centro 2016, Campeona Cab. Nuevos Torneo del Centro 2013. PEGASUS INDIRA es una gran progenitora que transmite a sus hijos limpieza y traslado. Algunos de ellos son P. HELENA IRINA, P. PRETTY WOMAN, P. CAVALIERI y P. CHAMPS ELYSEES.',
        segundaDescripcion: ''
    },
    {
        name: 'PEGASUS IRINA',
        pedigree: '',
        imagenUrl: '',
        pedigreeUrl: '/images/Madres/PEGASUS-IRINA/PEGASUS IRINA-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: '',
        segundaDescripcion: ''
    },
    {
        name: 'PEGASUS LEPREVOST',
        pedigree: '',
        imagenUrl: '/images/Madres/PEGASUS-LEPREVOST/FOTO/Leprevost.jpg',
        pedigreeUrl: '/images/Madres/PEGASUS-LEPREVOST/PEGASUS-LEPREVOST-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'PEGASUS LEPREVOST, fue criada por nuestro haras y lleva en su sangre la distinguida influencia de LORD Z. Este padrillo es un descendiente del legendario LORD, y ha competido con éxito a nivel internacional en Grandes Premios, logrando victorias y destacadas clasificaciones en lugares como Cannes, Múnich, Kuala Lumpur y Zúrich. Sus hijos, como NICOLETTE y LORD CLASSICS, han continuado su legado en el deporte ecuestre mundial.Por parte materna, proviene de la notable ATLETHA VDL, yegua que imprime calidad asegurada en sus descendientes. P. LEPREVOST es hermana de destacados ejemplares como P. ATHENEA, P. CRISTIANO, P. AYMAR y P. LEWIS.',
        segundaDescripcion: 'P. LEPREVOST actualmente desarrolla su carrera bajo la monta de Emilia Grimaldi. Desde sus inicios, mostró un potencial prometedor, destacándose con un notable 9° puesto en Criadores II 2019. En el 2023 se consagró como Ganadora del CSI* 1,40 m. Haras Abril y también del Mini G.P. 1,35/40 m. C.A.E.Como integrante de nuestro plantel de madres donantes, P. LEPREVOST es una progenitora prometedora, siendo que su descendencia hereda su efusividad y calidad en el salto, con crías como P. LE BLEU y P. KOURNIKOVA.'
    },
    {
        name: 'PEGASUS SUMATRA',
        pedigree: '',
        imagenUrl: '',
        pedigreeUrl: '/images/Madres/PEGASUS-SUMATRA/PEGASUS-SUMATRA-Pedigree.jpg',
        videoUrl: '',
        primeraDescripcion: 'PEGASUS SUMATRA fue criada en nuestro haras y desarrolló su carrera deportiva bajo la monta de Jimena Vidaurre en Primera Categoría 1,40 m. demostrando ser una competidora muy talentosa.Es descendiente de CHELTON REGOR Z, un hijo del semental belga CHELLANO Z en una madre CLINTON. CHELLANO Z, desciende de CONTENDER y de FAYENCE, propia hermana de CORRADO I (ganador de Aachen, World Cups y CSI).Algunos de sus hijos son PEGASUS CARACRUZ, PEGASUS SUMERIO y PEGASUS CONDOR.',
        segundaDescripcion: ''
    },
];
---

<section>
    <header class="relative">
        <ImgHeaderMadres />
        <div class="absolute bottom-6 left-0 w-full pt-24 pb-14 transform translate-y-1/2 z-10">
            <h1 class="bg-[#014618] text-2xl md:text-3xl lg:text-4xl py-4 rounded-md text-center text-white w-11/12 md:w-3/4 lg:w-1/2 mx-auto mb-6 md:mb-0">
                Madres
            </h1>
        </div>
    </header>
    <div class="container mx-auto py-14 px-4 sm:px-6 lg:px-72">
        <div id="accordionExample" data-accordion="collapse">
            {madres.map((horse, index) => (
                <div>
                    <h2 id={`accordion-heading-${index}`}>
                        <button type="button" class="flex items-center justify-between w-full rounded-2xl p-5 font-medium text-left text-black border border-[#ab994b] border-b-0 focus:ring-2 focus:ring-[#dbc667] hover:bg-gray-100 " data-accordion-target={`#accordion-body-${index}`} aria-expanded="false" aria-controls={`accordion-body-${index}`} style={{ backgroundColor: 'transparent' }}>
                            <span>{horse.name}</span>
                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                            </svg>
                        </button>
                    </h2>
                    <div id={`accordion-body-${index}`} class="hidden" aria-labelledby={`accordion-heading-${index}`}>
                        <div class="p-5 w-full mx-auto">
                            <div class="rounded-lg shadow-lg overflow-hidden bg-white flex flex-col sm:flex-row">
                                <img src={horse.imagenUrl} alt={horse.name} class="w-full sm:w-2/5 h-1/5 object-cover object-center rounded-lg m-4 sm:m-4" />
                                <div class="p-6 flex-grow">
                                    <h2 class="text-2xl font-bold mb-4">{horse.name}</h2>
                                    <p class="text-gray-700 mb-1">
                                        {horse.primeraDescripcion}
                                    </p>
                                    {horse.segundaDescripcion && (
                                        <div class="extra-content hidden">
                                            <p class="text-gray-700 mb-4">
                                                {horse.segundaDescripcion}
                                            </p>
                                        </div>
                                    )}
                                    {horse.segundaDescripcion && (
                                        <button class="text-[#9C9158] toggle-button bg-white rounded-md px-1">Ver más</button>
                                    )}
                                    <div class="flex justify-start mt-4 space-x-4">
                                        <a href={horse.pedigreeUrl} target="_blank" class="text-white bg-[#ab994b] py-2 px-6 sm:px-10 rounded-2xl border-solid border-2 border-[#ab994b] hover:bg-white hover:text-[#ab994b]">Pedigree</a>
                                        {horse.videoUrl && (
                                            <a href={horse.videoUrl} target="_blank" class="bg-white text-[#ab994b] py-2 px-6 sm:px-10 rounded-2xl border-solid border-2 border-[#ab994b] hover:text-white hover:bg-[#ab994b]">Video</a>
                                        )}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
    <div class="col-span-full flex justify-center pt-6">
        <div class="w-5/6 h-0.5 bg-gray-300"></div>
    </div>
</section>



<script>
    document.querySelectorAll('.toggle-button').forEach(button => {
        button.addEventListener('click', () => {
            const parent = button.parentNode;
            if (parent) {
                const extraContent = parent.querySelector('.extra-content');
                if (extraContent) {
                    extraContent.classList.toggle('hidden');
                    if (extraContent.classList.contains('hidden')) {
                        button.textContent = 'Ver más';
                    } else {
                        button.textContent = 'Ver menos';
                    }
                } 
            } 
        });
    });
</script>
