---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const translations = i18n.Pillars;

const cardPillars = translations.CARD_PILLARS;
const seeMoreText = i18n.Home.SEE_MORE;
const seeLessText = i18n.Home.SEE_LESS;
---

<section id="pilares" class="py-16 bg-white scroll-margin-top-16">
  <h2 class="text-4xl font-light text-center text-black mb-1 font-serif">
    {translations.TITLE}
  </h2>
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-4 md:px-16">
    {cardPillars.map((card) => (
      <div class="bg-white p-4 md:p-2">
        <img src={card.IMG} class="mx-auto mb-4 h-40 md:h-44" alt={`Icono ${card.INFO_TITLE}`} />
        <h3 class="text-xl text-center font-bold mb-2 text-black">{card.INFO_TITLE}</h3>
        <p class="text-gray-600 tracking-wide text-pretty">
          {card.INFO_TEXT_1}
        </p>
        {card.INFO_TEXT_2 && (
          <p class="text-gray-600 tracking-wide text-pretty extra-content hidden">
            {card.INFO_TEXT_2}
          </p>
        )}
        {card.INFO_TEXT_2 ? (  <!-- Solo mostrar el botón si INFO_TEXT_2 tiene contenido -->
          <button class="text-[#9C915D] cursor-pointer toggle-button" 
                  data-see-more={seeMoreText}
                  data-see-less={seeLessText}>
            {seeMoreText}
          </button>
        ) : null}
      </div>
    ))}
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.toggle-button').forEach(button => {
      button.addEventListener('click', () => {
        const extraContent = button.previousElementSibling;
        const seeMoreText = button.getAttribute('data-see-more');
        const seeLessText = button.getAttribute('data-see-less');
        
        if (extraContent && extraContent.classList.contains('hidden')) {
          extraContent.classList.remove('hidden');
          button.textContent = seeLessText;
        } else if (extraContent) {
          extraContent.classList.add('hidden');
          button.textContent = seeMoreText;
        }
      });
    });
  });
</script>

<style>
  .extra-content.hidden {
    display: none;
  }
</style>
