---
import detalleRemates from '../../public/database/detalle-remate.json'
const remateEspecifico = detalleRemates.remate_especifico
const rematePreguntas = detalleRemates.remate_preguntas

import ImgHeaderHome from './ImgHeaderHome.astro';
---
<section class="bg-slate-100 relative w-full lg:min-h-[39rem] md:min-h-[39rem] sm:min-h-[60rem] bg-cover bg-center flex flex-col">
    <ImgHeaderHome />
    
    <div class="flex-grow">
        <!-- Título del remate -->
        <div class="container mx-auto text-center mt-5 sm:mt-[1.5]">
            <div class="bg-[#ab994b] text-white rounded-lg py-2 sm:py-4 px-4 sm:px-6 inline-block">
                <h1 class="text-xl sm:text-1xl md:text-2xl lg:text-2xl">Nuestro Remate 2024</h1>
            </div>
        </div>
        <!-- Contenido de la tarjeta -->
        <div class="container mx-auto text-center mt-4 sm:mt-8 mb-4 sm:mb-6 flex-grow">
            <div class="max-w-2xl mx-auto rounded-lg overflow-hidden shadow-md text-center bg-white relative z-10 p-4 md:p-6">
                <div>
                    <div class="font-bold text-lg sm:text-2xl mb-2">{remateEspecifico.nombres}</div>
                    <div class="text-black font-bold mb-2">Número de Remate:</div>
                    <p class="text-gray-700 text-sm sm:text-lg">{remateEspecifico.id_Remate}</p>
                    <div class="text-black font-bold mb-2">Descripción:</div>
                    <p class="text-gray-700 text-sm sm:text-lg">{rematePreguntas.descripcion}</p>
                    <div class="text-black font-bold mb-2">Fecha de remate:</div>
                    <p class="text-gray-700 text-sm sm:text-lg">{remateEspecifico.fecha_inicio}</p>
                    <div class="text-black font-bold mb-2">Lugar:</div>
                    <p class="text-gray-700 text-sm sm:text-lg">{remateEspecifico.nombre_city}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Botón Ver Remate 2023 -->
    <div class="container mx-auto text-center mb-4 sm:mb-8">
        <div class="bg-[#ab994b] text-white rounded-lg py-2 sm:py-4 px-4 sm:px-12 inline-block w-full max-w-lg">
            <div class="flex flex-col sm:flex-row justify-between items-center">
                <p class="mb-2 sm:mb-0 text-lg sm:text-2xl">Remate 2023</p>
                <a href="/remate" class="bg-white text-[#ab994b] py-2 px-6 sm:px-10 rounded hover:bg-gray-200">Ver Más</a>
            </div>
        </div>
    </div>
</section>
