---
import remate_2024 from '../../public/database/remates-2024.json'
import ImgHeaderHome from './ImgHeaderHome.astro'
---

<section
  class="bg-slate-100 relative w-full lg:min-h-[39rem] md:min-h-[39rem] sm:min-h-[60rem] bg-cover bg-center flex flex-col">
  <ImgHeaderHome />

  <!-- Botón Ver Remate 2024 -->
  <div class="container mx-auto text-center my-4 sm:mb-8 px-4">
    <div
      class="bg-[#ab994b] text-white rounded-lg py-2 sm:py-4 px-4 sm:px-12 inline-block w-full max-w-lg">
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <p class="mb-2 sm:mb-0 text-lg sm:text-2xl">Remate 2024</p>
        <a
          href="https://findelmundoremates.com/Remate/74/Haras-Don-Candido"
          target="_blank"
          class="bg-white text-[#ab994b] py-2 px-6 sm:px-10 rounded hover:bg-gray-200">Ver Más</a
        >
      </div>
    </div>
  </div>

  <div class="px-4 sm:px-8 md:px-12 lg:px-36 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
    {remate_2024.articulos.map((horse) => (
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col text-center mx-auto">
        <a href="#">
          <img
            class="rounded-t-lg mx-auto"
            src={`https://findelmundoremates.com/uploads/${horse.prev_foto_principal}`}
            alt={horse.nombres}
          />
        </a>
        <div class="p-5 flex flex-col justify-between h-full">
          <div>
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {horse.nombres}
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Sexo: {horse.sexo}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nacimiento: {horse.fecha_nacimiento}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ubicación: {horse.nombre_pais}/{horse.nombre_city}</p>
          </div>
          <a
            href={`https://findelmundoremates.com/Articulo/${horse.id_Remate}/${horse.id_Articulo}/${horse.slug}`}
            target="_blank"
            class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-[#ab994b] rounded-full hover:bg-[#e7cc82] dark:bg-[#1b3318] dark:hover:bg-[#2a5724] mt-auto"
          >
            Ver Ficha
          </a>
        </div>
      </div>
    ))}
  </div>
  <!-- Botón Ver Remate 2023 -->
  <div class="container mx-auto text-center my-6 sm:mb-8 px-4">
    <div
      class="bg-[#ab994b] text-white rounded-lg py-2 sm:py-4 px-4 sm:px-12 inline-block w-full max-w-lg"
    >
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <p class="mb-2 sm:mb-0 text-lg sm:text-2xl">Remate 2023</p>
        <a
          href="/remate"
          class="bg-white text-[#ab994b] py-2 px-6 sm:px-10 rounded hover:bg-gray-200">Ver Más</a
        >
      </div>
    </div>
  </div>
</section>
